<div>
  <h1>Crear categoria</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maxime quos
    aliquam voluptates ratione cupiditate reiciendis inventore asperiores optio
    consectetur maiores, iusto ut error eos laborum nobis, magnam vel modi
    aspernatur? Eos quam tenetur, excepturi dicta neque ratione quisquam magnam
    id autem, rerum similique rem. Dolor est quisquam ea, ab deserunt dolores.
    Quaerat, et error excepturi sed aperiam veniam sunt ipsam ratione illo,
    aspernatur reprehenderit. Eligendi sint quo voluptatum reiciendis suscipit
    dolore quod neque debitis ipsa omnis quis a asperiores aperiam, aliquid vero
    adipisci nam iste soluta, doloribus rem saepe at velit? Voluptatem maiores
    incidunt dignissimos nobis cum velit voluptates!
  </p>
</div>
