<div>
  <h1>Productos</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quis neque
    reiciendis tenetur deserunt, quidem odio? Laudantium ratione quidem quo
    soluta doloremque, dolores eaque nesciunt! Autem, fugit voluptatum sunt esse
    facilis deleniti delectus est. Rerum eligendi iusto, est quos ab dolorem
    fugit quisquam tempora quod pariatur porro enim maiores accusamus neque
    consequuntur nemo saepe dolore fuga architecto expedita dicta cumque!
    Consequatur minus nisi recusandae laboriosam eligendi alias at, explicabo
    cum beatae distinctio inventore repellat, sit voluptatem sequi ut culpa
    minima quasi obcaecati tempore atque aliquid maxime expedita commodi? Nam
    exercitationem error atque tenetur doloremque ea earum labore magni
    reiciendis voluptatibus?
  </p>
</div>
